@{
    ViewBag.Title = "Home Page";
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">3ER CONCURSO SEAR 2022</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!-- ROW-1 -->
<div class="row">
    <div class="col-12">
        <div class="card overflow-hidden">            
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;color:black">TERCER CONCURSO SEAR- 2022 ENMARCADO EN EL PROYECTO DE INVERSION “MEJORAMIENTO DE LAS CAPACIDADES DE LAS DIRECCIONES REGIONALES AGRARIAS Y AGENCIAS AGRARIAS EN 11 DEPARTAMENTOS”</h5>                
                <div>
                    <img src="https://www.agrorural.gob.pe/wp-content/uploads/2022/03/foto_3ra.jpg" class="card-img-top" alt="img">
                </div>
                <br />
                <p class="card-text" style="text-align:justify">
                    @*MEJORAMIENTO DE LAS CAPACIDADES DE LAS DIRECCIONES REGIONALES AGRARIAS Y AGENCIAS AGRARIAS EN 11 DEPARTAMENTOS</b><br />
        Los SEAR brindan servicios de capacitación y asistencia técnica a productores agrarios que les permita conocer,
        aplicar y adoptar conocimientos y tecnologías disponibles a fin resolver problemas identificados en los procesos de producción y comercialización de sus cadenas productivas.*@                    
                        SE ADJUDICARÁN 165 SERVICIOS DE EXTENSIÓN AGRARIA QUE BENEFICIARÁ A 6600 PRODUCTORES DE LAS CADENAS PRODUCTIVAS: PAPA, MAIZ, APICOLA, LECHE, ETC (SE CITAN A TODAS LA PRIORIZADAS EN CADA REGION), CUYA FINALIDAD ES FORTALECER LAS CAPACIDADES PRODUCTIVAS Y DE COMERCIALIZACIÓN DE LOS PRODUCTORES AGROPECUARIOS DE LA COSTA SIERRA Y SELVA DEL PERÚ, CONTRIBUYENDO QUE ESTOS SEAN MÁS COMPETITIVOS Y MEJOREN SUS INGRESOS FAMILIARES.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 END -->