
@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">1. Información General</h4>
            </div>            
            <div class="card-body">
                <h5 style="font-weight:bold">1.1 DATOS GENERALES DEL SEAR</h5>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.1 Nombre del SEAR <span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre del SEAR" id="vNombreSearT1" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.2 Naturaleza de la Intervención<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Naturaleza de la Intervención" id="vNaturalezaIntervencionT1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.3 Sub Sector<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cbosector">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.4 Nombre de la cadena productiva priorizada<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre de la cadena productiva priorizada" id="vCadenaProductivaT1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.5 Proceso de la cadena productiva<span class="text-red">*</span></label>
                            @*<input type="text" class="form-control" placeholder="Proceso de la cadena productiva" id="vProcesoProductivaT1">*@
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboprocesoproductiva">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.6 Línea prioritaria<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cbolineaprioritaria">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.1.7 Producto o servicio a ampliar / mejorar / recuperar<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Producto o servicio a ampliar / mejorar / recuperar" id="vProductoServicioAmpliarT1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label">1.1.8 Localización del servicio<span class="text-red">*</span></label>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Region<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboregion">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Provincia<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboprovincia">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Distrito<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="iCodUbigeoT1">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Localidad<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Localidad" id="vLocalidadT1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label">1.1.9 Ubicacion del servicio<span class="text-red">*</span></label>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Zona UTM<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Zona UTM" id="vZonaUTMT1">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Coordenadas UTM (Norte)<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Coordenadas UTM (Norte)" id="vCoordenadasUTMNorteT1">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Coordenadas UTM (Este)<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Coordenadas UTM (Este)" id="vCoordenadasUTMEsteT1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label">1.1.10 Fecha de inicio y fin del servicio<span class="text-red">*</span></label>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Inicio<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaInicioServicioT1">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Fin<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaFinServicioT1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">1.1.11 Duración (días)<span class="text-red">*</span></label>
                            <input type="text" class="form-control solonumeros" readonly placeholder="Duración (días)" id="iDuracionT1">
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;height:0px !important" />
                <h5 style="font-weight:bold">1.2 DATOS DE LA ENTIDAD PROMOTORA</h5>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.1 Nombre de la entidad proponente (Agencia Agraria) <span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre de la entidad proponente (Agencia Agraria)" id="vNombreEntidadProponenteT2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.5 Correo electrónico <span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Correo electrónico" id="vCorreoElectronicoT2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.2 Nombre de la Dirección Regional a la que pertenece<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre de la Dirección Regional a la que pertenece" id="vNombreDireccionPerteneceT2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.6 Nombre del director de la Agencia Agraria<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre del director de la Agencia Agraria" id="vNombreDirectorAgenciaAgrariaT2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.3 Dirección<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Dirección" id="vDireccionT2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.7 Dirección Zonal AGRORURAL<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Dirección Zonal AGRORURAL" id="vDireccionZonaAgroruralT2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.2.4 Teléfono<span class="text-red">*</span></label>
                            <input type="email" class="form-control solonumeros" placeholder="Teléfono" id="vTelefonoT2">
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;height:0px !important" />
                <h5 style="font-weight:bold">1.3 DATOS DEL PROVEEDOR</h5>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">1.3.1 Tipo de personeria juridica<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" readonly disabled data-bs-placeholder="Seleccione" id="iCodTipoPersoneriaT3">
                                <option value="0" label="Seleccione">Seleccione</option>
                                <option value="1" label="Natural">Natural</option>
                                <option value="2" label="Juridica">Juridica</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="form-label">1.3.7 Teléfono<span class="text-red"></span></label>
                            <input type="text" class="form-control solonumeros" readonly placeholder="Teléfono" id="vTelefonoT3">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="form-label">1.3.8 Celular<span class="text-red"></span></label>
                            <input type="text" class="form-control solonumeros" readonly placeholder="Celular" id="vCelularT3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.2 Nombre o razón social del proveedor <span class="text-red"></span></label>
                            <input type="text" class="form-control" readonly placeholder="Nombre o razón social del proveedor" id="vNombreRazonSocialProveedorT3">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.9 Correo electrónico<span class="text-red"></span></label>
                            <input type="text" class="form-control" readonly placeholder="Correo electrónico" id="vCorreoElectronicoT3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.3 Nombre del representante legal<span class="text-red"></span></label>
                            <input type="text" class="form-control" readonly placeholder="Nombre del representante legal" id="vNombreRepresentanteLegalT3">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.10 Página web<span class="text-red"></span></label>
                            <input type="text" class="form-control" placeholder="Página web" id="vPaginaWebT3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label">1.3.4 N° DNI <span class="text-red"></span></label>
                            <input type="email" class="form-control solonumeros" readonly placeholder="N° DNI" maxlength="8" id="vDniT3">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label">1.3.5 N° RUC <span class="text-red"></span></label>
                            <input type="email" class="form-control solonumeros" readonly placeholder="N° RUC" maxlength="11" id="vRucT3">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.11 Especialidad o Profesión del proveedor<span class="text-red"></span></label>
                            <input type="text" class="form-control" placeholder="Especialidad o Profesión del proveedor" id="vEpecialidadProveedorT3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.6 Dirección <span class="text-red"></span></label>
                            <input type="text" class="form-control" readonly placeholder="Dirección" id="vDireccionT3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">1.3.12 Tipo de Proovedor<span class="text-red">*</span></label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="iCodTipoProveedorT3">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;height:0px !important" />
                <h5 style="font-weight:bold">1.4 DATOS DE LOS BENEFICIARIOS</h5>
                <hr style="border: 1px solid black;height:0px !important" />
                <table id="tblproductores" class="table table-bordered text-nowrap border-bottom" width="100%"> </table>
                <fieldset>
                    <legend>Resumen</legend>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">Total</label>
                                <input type="text" class="form-control solonumeros" placeholder="Total" id="total" readonly>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">Promedio</label>
                                <input type="text" class="form-control" placeholder="Promedio" id="promedio" readonly>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">Masculino</label>
                                <input type="text" class="form-control" placeholder="Masculino" id="masculino" readonly>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">Femenino</label>
                                <input type="text" class="form-control" placeholder="Femenino" id="femenino" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>       
                <div style="text-align:right">
                    <button class="btn btn-success bg-primary-gradient mt-4" id="btnguardar">Guardar</button>
                </div>                
            </div>
        </div>
    </div>
 </div>
<div class="modal fade" id="modalorganizacion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 class="modal-title">Datos de Organización</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <label class="form-group">
                            <label class="form-label">RUC<span class="text-red"></span></label>
                            <input type="text" class="form-control mayuscula" id="vRucOrg" placeholder="Ruc" maxlength="11">
                        </label>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            <label class="form-label">Nombre o Razon Social<span class="text-red"></span></label>
                            <input type="text" class="form-control" readonly placeholder="Dni" id="vNombreRazonSocialOrg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nombre del Representante<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nombre del Representante" id="vNombreRepreseanteOrg">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Celular<span class="text-red">*</span></label>
                            <input type="text" class="form-control solonumeros" placeholder="Celular" id="vCelularOrg" maxlength="9">
                        </div>
                    </div>                   
                </div>  
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Direccion<span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Direccion" id="vDireccionOrg">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <label class="form-group">
                            <label class="form-label">Telefono<span class="text-red"></span></label>
                            <input type="text" class="form-control solonumeros" id="vTelefonoOrg" placeholder="Telefono">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Correo electronico<span class="text-red"></span></label>
                            <input type="text" class="form-control" id="vCorreoOrg" placeholder="Correo electronico">
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Tipo de Organizacion<span class="text-red">*</span></label>
                            <select class="form-control form-select select2"  id="cbotipoorg" required>
                                <option value="">Seleccione</option>                          
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnguardarorg" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="~/Scripts/InfoGeneral/Index.js?noCache=@Guid.NewGuid().ToString()"></script>
