
@{
    ViewBag.Title = "Finalizacion de Registro - Extensionista";
}
<style type="text/css">
        table.dataTable
    td.dt-control{text-align:center;cursor:pointer}
    table.dataTable td.dt-control:before{
        height:1em;
        width:1em;
        margin-top:-9px;
        display:inline-block;
        color:white;
        border:.15em solid white;
        border-radius:1em;
        box-shadow:0 0 .2em #444;
        box-sizing:content-box;
        text-align:center;
        text-indent:0 !important;
        font-family:"Courier New",Courier,monospace;
        line-height:1em;
        content:"+";
        background-color:#31b131
        }
        table.dataTable tr.dt-hasChild td.dt-control:before{
            content:"-";
            background-color:#d33333
            }
</style>
<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />

<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">Finalizacion Registro - Extensionista</h4>
            </div>
            <div class="card-body">
                <h5 style="font-weight:bold">ENTREGA DE INFORMACION</h5>
                <hr style="border: 1px solid black;height:0px !important" />
                <h4 style="font-weight:bold">Al realizar el envío de información para su evaluacion, no se podrá revertir dicha decision. ¿Esta seguro/a que desea enviar el registro de informacion para que sea evaluado por un comite especializado? </h4>
                
                <div class="col-sm-12 col-md-12" style="text-align:center;margin-top:60px;">
                    <button type="button" class="btn btn-success" id="btnEnviar"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
                    @*<button type="button" class="btn btn-red" id="btnagregartecnologia"><i class="fa fa-window-close-o" aria-hidden="true"></i> Cancelar</button>*@
                    <button type="button" class="btn btn-orange" id="btnGenerarExportado"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacionEnvio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion Envío de Información</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span> ¿ Esta Seguro de enviar la información del registro ?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btneliminartecnologia" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/FinRegExt/Index.js?noCache=@Guid.NewGuid().ToString()"></script>

