
@{
    ViewBag.Title = "Index";
}


<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">
                    Formulación
                </h4>
            </div>
            <div class="card-body">
                <div class="row" style="font-size:18px !important">
                    <div class="col-sm-8 col-md-12">
                        El Módulo de FORMULACIÓN comprende:
                        <br />
                        <br />
                        <ol style="list-style-type: lower-roman;">
                            <li>
                                la acreditación de la Alianza Estratégica
                            </li>
                            <li>
                                la elaboración de la Ficha Técnica.
                            </li>
                        </ol>
                    </div>
                    <br />
                    <br />
                    <br />                 
                
                    <div class="col-sm-8 col-md-12">
                        <span style="font-weight:bold">
                            Tener en cuenta:
                        </span>
                    </div>
                    <br />
                    <br />                   
                
                    <div class="col-sm-8 col-md-12" style="text-align:justify">
                        <ol>
                            <li>
                                Los documentos de acreditación determinan el cumplimiento de los requisitos por parte del proveedor del servicio (extensionista) y de los productores.
                            </li>
                            <li>
                                Si el proveedor no cumple con presentar todos los requisitos solicitados se asumirá como no presentada la propuesta, y si la información no es veraz, el proveedor no podrá presentarse en ningún concurso futuro.

                            </li>
                            <li>
                                La Ficha Técnica contempla el plan de capacitación y el plan de asistencia técnica de un paquete tecnológico, dirigido a solucionar un problema específico del productor agrario.

                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Formulacion/Index.js?noCache=@Guid.NewGuid().ToString()"></script>