
@{
    ViewBag.Title = "Index";
}

<br />
<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">
                    Registro de Plan Atencion Técnica
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h4>Lista de Actividades</h4>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label">Componentes Por Usuario</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboComponente">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>

                </div>

                <table class="table table-bordered text-nowrap border-bottom dataTable" id="tblactividad">
                </table>

            </div>
            <div class="card-body">
                <div class="row">
                    <h4>Lista de Plan de Capacitación</h4>
                </div>

                <table class="table table-bordered text-nowrap border-bottom dataTable" id="tblPlanCapa">
                </table>
                @*<div class="row">
                        <div class="col-sm-12 col-md-12" style="text-align:right">
                            <button type="button" class="btn btn-success" id="btnvistaprevia"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Vista Previa</button>
                        </div>
                    </div>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <h4>Lista de Plan de Sesion</h4>
                </div>

                <table class="table table-bordered text-nowrap border-bottom dataTable" id="tblPlanSesion">
                </table>
                <div class="row">
                    <div class="col-sm-12 col-md-12" style="text-align:right">
                        <button type="button" class="btn btn-success" id="btnvistaprevia"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Vista Previa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalplan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 class="modal-title">Agregar Plan de Capacitación</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Actividad</label>
                            <input type="text" class="form-control mayuscula" placeholder="Actividad" id="vActividad" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Objetivo<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" placeholder="Ingrese objetivo" id="vObjetivo">
                        </label>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Meta<span class="text-red">*</span></label>
                            <input type="number" class="form-control mayuscula" placeholder="Ingrese meta" id="iMeta">
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Cant. Beneficiados<span class="text-red">*</span></label>
                            <input type="number" class="form-control mayuscula" placeholder="Ingrese Cantidad Beneficiados" id="iBeneficiario">
                        </label>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Fecha Inicio<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="vdia">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Fecha Fin<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="vdia2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">H. Teoricas<span class="text-red">*</span></label>
                            <input type="number" min="0" class="form-control mayuscula" placeholder="Ingrese Horas Teoria" id="iTotalTeoria">
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">H. Practicas<span class="text-red">*</span></label>
                            <input type="number" min="0" class="form-control mayuscula" placeholder="Ingrese Horas Práctica" id="iTotalPractica">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnguardar" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaleliminarPlanCapa" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anular Asistencia Tecnica</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span>Esta seguro de eliminar el plan de Asistencia Tecnica seleccionada ?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btneliminarcosto" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalplanSesion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 class="modal-title">Agregar Plan de Sesion</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="form-label">Módulo</label>
                            <input type="text" class="form-control mayuscula" placeholder="Ingrese Modulo" id="vModulo" disabled>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Duracion</label>
                            <input type="number" class="form-control mayuscula" placeholder="Ingrese Duracion" id="iDuracion">
                        </div>
                    </div>
                    @*<div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Temática<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" placeholder="Ingrese Temática" id="vTematica">
                        </label>
                    </div>*@
                    <div class="col-sm-6 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Metodología<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" placeholder="Ingrese Metodología" id="vDescripMetodologia">
                        </label>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-sm-12 col-md-12">
                        <label class="form-group">
                            <label class="form-label">Materiales<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" placeholder="Ingrese Materiales" id="vMateriales">
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnguardarsesion" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaleliminarPlanCapa1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anular Detalle de Asistencia Tecnica</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span>Esta seguro de eliminar el Detalle de Asistencia Tecnica seleccionada?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btneliminarcosto1" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript" src="~/Scripts/CurriculumVitae/Index.js?noCache=@Guid.NewGuid().ToString()"></script>*@
<script type="text/javascript" src="~/Scripts/PlanAsistenciaTec/Index.js?noCache=@Guid.NewGuid().ToString()"></script>
