
@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">Cortes</h4>
            </div>
            <div class="card-body">
                <div class="col-sm-12 col-md-12" style="text-align:right">
                    <button type="button" class="btn btn-success" id="btnagregarcorte"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar</button>
                    <button class="btn btn-primary" id="btnregistrar" type="button">Grabar</button>
                </div>
                <div class="row">
                    <label class="form-label">Informaciòn<span class="text-red">*</span></label>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Inicio Real<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaInicio">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Fin Real<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaFin">
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>
<div class="modal fade" id="modalasignarCorte" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Corte</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span>Detalle</span>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label class="form-group">
                            <label class="form-label">Dias<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vNombreOrganizacion" placeholder="dias">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnasignar" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="~/Scripts/ComiteEvaluador/Index.js?noCache=@Guid.NewGuid().ToString()"></script>*@
<script type="text/javascript" src="~/Scripts/Cortes/Index.js?noCache=@Guid.NewGuid().ToString()"></script>