
@{
    ViewBag.Title = "Index";
}
<br />
<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">
                    4. Curriculum Vitae
                </h4>
            </div>
            <div class="card-body">
                <h4>Datos Generales del Proveedor (Extensionista)</h4>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <label class="form-group">
                            <label class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="vNombres" placeholder="Nombres" readonly>
                        </label>
                    </div>
                    <div class="col-sm-8 col-md-3">
                        <label class="form-group">
                            <label class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="vApellidosPaterno" placeholder="Apellido Paterno" readonly>
                        </label>
                    </div>
                    <div class="col-sm-8 col-md-3">
                        <label class="form-group">
                            <label class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="vApellidosMaterno" placeholder="Apellido Materno" readonly>
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label class="form-label">Dni</label>
                            <input type="text" class="form-control solonumeros" placeholder="Dni" id="vDni" maxlength="8" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label class="form-label">Ruc</label>
                            <input type="text" class="form-control solonumeros" placeholder="Ruc" id="vRuc" maxlength="11" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label class="form-label">Celular</label>
                            <input type="text" class="form-control solonumeros" placeholder="Celular" id="vCelular" maxlength="8" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Direccion</label>
                            <input type="text" class="form-control solonumeros" placeholder="Dirección" id="vDireccion" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Correo</label>
                            <input type="text" class="form-control" placeholder="Correo" id="vCorreo" readonly>
                        </div>
                    </div>
                </div>
                @*<div class="row">
            <div class="col-sm-12 col-md-12" style="text-align:right">
                <button type="button" class="btn btn-success" id="btnguardarcv"><i class="fe fe-save me-2" aria-hidden="true"></i> Guardar</button>
            </div>
        </div>*@
                <h4>Formación</h4>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-12 col-md-12" style="text-align:right">
                        <button type="button" class="btn btn-success" id="btnagregar"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Agregar</button>
                    </div>
                </div>
                <table id="tblFormacion" class="table table-bordered text-nowrap border-bottom" width="100%"> </table>

                <h4>Experiencia General</h4>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-8 col-md-10">
                        <span>Debe de registrar toda su experiencia laboral general, Iniciar con la experiencia mas reciente. Lo registrado debe coincidir con la constancia, certificado, orden de servicio u contrato que adjunta</span>
                    </div>
                    <div class="col-sm-2 col-md-2" style="text-align:right">
                        <button type="button" class="btn btn-success" id="btnagregarexperiencia"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Agregar</button>
                    </div>
                </div>
                <table id="tblExperiencia" class="table table-bordered text-nowrap border-bottom" width="100%"> </table>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Años</label>
                            <input type="text" class="form-control solonumeros" placeholder="Años" id="anios" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Meses</label>
                            <input type="text" class="form-control" placeholder="Meses" id="meses" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <input type="file" class="form-control" name="file" id="file" value="" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md4">
                        <button type="button" class="btn btn-success" id="btncargarrequitos"><i class="fe fe-upload me-2"></i>Cargar</button>
                    </div>
                    <center>
                        <div class="col-sm-4 col-md-2">
                            <div class="alert alert-danger" role="alert">
                                Solo se admite PDF maximo (10 MB)
                            </div>
                        </div>
                    </center>
                </div>
                <br />
                <div class="text-center">
                    <center>
                        <table id="tblarchivos" class="table table-green" style="width:20% !important">
                            <tbody>
                                <tr class="table-success">
                                    <td style="color:black">Curriculum Vitae </td>
                                    <td id="filadescargar"><a href="javascript:void(0);" id="ahrefdescargar"><i class="bi bi-file-earmark-pdf"></i></a></td>
                                    <td id="fileeliminar"><a href="javascript:void(0);" id="ahrefeliminar"><i class="bi bi-x-circle-fill"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
                <hr />
                <h4>Experiencia Especifica</h4>
                <hr style="border: 1px solid black;height:0px !important" />
                <div class="row">
                    <div class="col-sm-8 col-md-10">
                        <span>Debe registrar toda su experiencia laboral especifica en la cadena productiva presentada en el SEAR. Inicia con la experiencia mas reciente. lo registrado debe coincidir con la constancia, certificado , orden de servicio u contrato que adjunta.</span>
                    </div>
                    <div class="col-sm-2 col-md-2" style="text-align:right">
                        <button type="button" class="btn btn-success" id="btnagregarexperienciaespecifica"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Agregar</button>
                    </div>
                </div>
                <table id="tblExperienciaespecifica" class="table table-bordered text-nowrap border-bottom" width="100%"></table>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Años</label>
                            <input type="text" class="form-control solonumeros" placeholder="Años" id="anios1" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Meses</label>
                            <input type="text" class="form-control" placeholder="Meses" id="meses1" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <input type="file" class="form-control" name="file1" id="file1" value="" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md4">
                        <button type="button" class="btn btn-success" id="btncargarrequitos1"><i class="fe fe-upload me-2"></i>Cargar</button>
                    </div>
                    <center>
                        <div class="col-sm-4 col-md-2">
                            <div class="alert alert-danger" role="alert">
                                Solo se admite PDF maximo (10 MB)
                            </div>
                        </div>
                    </center>
                </div>
                <br />
                <div class="text-center">
                    <center>
                        <table id="tblarchivos1" class="table table-green" style="width:20% !important">
                            <tbody>
                                <tr class="table-success">
                                    <td style="color:black">Curriculum Vitae </td>
                                    <td id="filadescargar"><a href="javascript:void(0);" id="ahrefdescargar1"><i class="bi bi-file-earmark-pdf"></i></a></td>
                                    <td id="fileeliminar"><a href="javascript:void(0);" id="ahrefeliminar1"><i class="bi bi-x-circle-fill"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formacionmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 id="titulomodalproductor" class="modal-title">Registrar Productor</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Tipo de Educación<span class="text-red">*</span></label>
                            <select class="form-select leading-none" id="cbonivel">
                                <option selected="" value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <label class="form-group">
                            <label class="form-label">Centro de Estudios<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vCentroEstudios" placeholder="Centro de Estudios">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            <label class="form-label">Especialidad<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" placeholder="Especialidad" id="vEspecialidad">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnguardarformacion" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="experienciamodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 id="titulomodalexperiencia" class="modal-title">Registrar Experiencia</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Nombre de la Entidad<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vNombreEntidad" placeholder="Nombre de la Entidad">
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Cargo / Servicio<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vCargoServicio" placeholder="Cargo / Servicio">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <label class="form-group">
                            <label class="form-label">Actividades o Responsabilidades especificas<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vActividades" placeholder="Actividades o Responsabilidades especificas">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <label class="form-group">
                            <label class="form-label">Producto o Servicio Agricola<span class="text-red">*</span></label>
                            <input type="text" class="form-control mayuscula" id="vProductoServicio" placeholder="Producto o Servicio Agricola">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Fecha de Inicio<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaInicio">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Fecha de Fin<span class="text-red">*</span></label>
                            <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="date" id="dFechaFin">
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-4 col-md-6">
                        <label class="form-group">
                            <label class="form-label">Duración (Meses)</label>
                            <input type="text" class="form-control mayuscula" readonly id="txtduracionmeses" placeholder="Duración (Meses)">
                        </label>
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btnguardarformacionexperiencia" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaleliminarformacion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 class="modal-title">Anular Formación</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span>Esta Seguro de eliminar formacion?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btneliminarformacion" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaleliminarexperiencia" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cardheadertitle">
                <h5 class="modal-title">Anular Experiencia</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span>Esta Seguro de eliminar formacion?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btneliminarexperiencia" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/CurriculumVitae/Index.js?noCache=@Guid.NewGuid().ToString()"></script>
