
@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="hdnusuario" value="@ViewBag.usuario" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header cardheadertitle">
                <h4 class="card-title">Ficha de Supervisiòn a la Capacitacion</h4>
            </div>
            <div class="card-body">              
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Componentes</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboComponente">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Actividades</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboActividad">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                 
                </div>*@
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Productor</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboProductor">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>              
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Observaciones Generales</label>
                            <textarea id="txtobsgeneral" cols="100" rows="10">     
                            </textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Recomendaciones</label>
                            <textarea id="txtrecomendacion" cols="100" rows="10">     
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="txtnomsupervisor" class="form-label">Nombre Supervisor</label>
                            <input type="text" class="form-control" id="txtnomsupervisor" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="txtcargosupervisor" class="form-label">Cargo Supervisor</label>
                            <input type="text" class="form-control" id="txtcargosupervisor" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="txtentidadsupervisor" class="form-label">Entidad Supervisor</label>
                            <input type="text" class="form-control" id="txtentidadsupervisor" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="txtfechasupervisor" class="form-label">Fecha Supervisor</label>
                            <input type="date" class="form-control" id="txtfechasupervisor" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Calificacion</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboCalificacion">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6" style="text-align:right">
                        <button class="btn btn-primary btn-lg" id="btnregistrar" type="button">Grabar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <h4>Rubros</h4>
                            <table class="table table-bordered text-nowrap border-bottom dataTable" id="tblrubros">
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <h4 id="lblcriterios">Criterios</h4>
                                <table class="table table-bordered text-nowrap border-bottom dataTable" id="tblcriterios">
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-6">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="btngrabarrubro" disabled><i class="fa fa-plus-circle" aria-hidden="true"></i>Grabar Rubro</button>
            </div>
        </div>*@
                </div>
                @*<div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Fundamento / Comentario</label>
                    <textarea id="txtfundamentorubro" cols="100" rows="10">
                    </textarea>
                </div>
            </div>
        </div>*@


            </div>        
        </div>
    </div>
</div>
<div class="modal fade" id="modalcalificacion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Calificacion de Criterio</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h4>Productores</h4>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Calificacion</label>
                            <select class="form-control form-select select2" data-bs-placeholder="Seleccione" id="cboCalificacioncriterio">
                                <option label="Seleccione">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Fundamento</label>
                            <textarea id="txtfundamentocioncriterio" cols="100" rows="10">     
                            </textarea>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btngrabarcalificacion" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalfundamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fundamento del Rubro</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">             
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Fundamento</label>
                            <textarea id="txtfundamentorubro" cols="50" rows="10">     
                            </textarea>
                        </div>
                    </div>           
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrar">Cerrar</button>
                <button class="btn btn-primary" id="btngrabarfundamentorubro" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/SupervisionCap/Index.js?noCache=@Guid.NewGuid().ToString()"></script>